<!DOCTYPE html>
<html>
<head>
    <title>Kubernetes Resources</title>
</head>
<body>
    <h1>Resources in Namespace: {{ namespace }}</h1>
        
        {% for dictionary in resources %}
                {% for key, value in dictionary.items %}
                    <ul>
                    {% if value %}
                        <h3>{{ key|title }}</h3>
                        {% for res in value %}
                            <a href="{{ namespace }}/{{ key }}/{{ res.metadata.name }}">
                                <li>{{ res.metadata.name }}</li>
                            </a>
                        {% endfor %}
                    {% endif %}
                    </ul>
                {% endfor %}
        {% endfor %}
        <form method="post" style="display:inline;">
            {% csrf_token %}
                <input type="hidden" name="namespace" value="{{ namespace }}">
                <input type="checkbox" name="clean_yaml" value="true"> Clean YAML
                <input type="submit" name="download" value="Download Objects">
        </form>
</body>
</html>