<!DOCTYPE html>
<html>
<head>
    <title>Select Namespace</title>
</head>
<body>
    <form method="post" action="{% url 'kubernetes_resources' %}">
        {% csrf_token %}
        <label for="namespace">Select Namespace to see resources:</label>
        <select name="namespace" id="namespace">
            {% for ns in namespaces %}
                <option value="{{ ns }}">{{ ns }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Show">
    </form>
</body>
</html>